@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* main title appearance */
h1 {}

.fade-in-container {
    opacity: 0;
    transform: translatey(100px);

    animation: fade-in-container linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50svh;
}

@keyframes fade-in-container {
    0% {}

    100% {
        opacity: 1;
        transform: translatey(0);
    }
}


.fade-main-title {
    opacity: 0;
    transform: translatey(100px);

    animation: fade-in-container ease-in forwards;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


.fall-leaf {
    opacity: 0;
    transform: translatey(-500px);

    animation: fall-leaf linear forwards;
    animation-timeline: scroll();
}

@keyframes fall-leaf {
    0% {}

    100% {
        opacity: 1;
        transform: translatey(500px);
    }
}